beautifulsoup4==4.12.3
chroma-hnswlib==0.7.3
chromadb==0.4.24
langchain==0.1.16
langchain-community==0.0.32
langchain-core==0.1.42
langchain-text-splitters==0.0.1
langsmith==0.1.47
pip==22.3.1
streamlit==1.33.0
tiktoken==0.6.0



